* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #d9d9d9;
    height: 3000px;
}

.interface {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

/* estilo do header */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 3;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header .menu-desktop nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

header .menu-desktop nav ul a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

header .contato a button {
    padding: 10px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000;
    transition: 0.5s;
}

header .contato a button:hover {
    background-color: #000;
    color: #fff;
}

/* estilo do menu dinâmico */

header.rolar {
    background-color: #fff;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header.rolar .menu-desktop nav ul li a {
    color: #000;
}

header.rolar .contato a button {
    background-color: #fff;
    color: #000;
}

/* estilo box-container */

section.container-box {
    width: 95%;
    margin: 0 auto;
    padding-top: 100px;
    background-color: #FFAD2D;
    min-height: 60vh;
    margin-top: 120px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient(90deg, #fca311, #ffd166);
}

section.container-box .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.container-box .box .box-txt h1 {
    font-size: 60px;
    text-transform: uppercase;
}

section.container-box .box .box-txt p {
    font-size: 35px;
    color: #fff;
}

section.container-box .box .box-txt button {
    padding: 10px;
    width: 200px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.5s;
}

section.container-box .box .box-txt button:hover {
    background-color: #000;
    color: #fff;
}

section.container-box .box .box-img img {
    width: 230px; 
    transform: rotate(30deg);
}


/* estilos do meus trabalhos */

section.meus-trabalhos {
    padding: 80px 0;
}

.meus-trabalhos .trabalhos {
    text-align: center;
    margin-bottom: 80px;
}

.meus-trabalhos .trabalhos h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
}

.meus-trabalhos .itens-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.meus-trabalhos .itens-container .txt-itens h3 {
    font-size: 40px;
    margin-bottom: 15px;
}

.meus-trabalhos .itens-container .txt-itens h3 span {
    color: #fca311;
}

.meus-trabalhos .itens-container .txt-itens p {
    font-size: 18px;
    max-width: 700px;
}

.meus-trabalhos .itens-container .img-itens img {
    width: 500px;
}

/* estilo do contratar */

section.contratar {
    padding: 80px 0;
    background-color: #fff;
}

.txt-contratar, .instrocoes {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.contratar .txt-contratar {
    position: sticky;
    top: 50%;
    margin-bottom: 35px;
}

.contratar .txt-contratar h1 {
    font-size: 40px;
    font-weight: 600;
}

.contratar .txt-contratar h1 span {
    color: #fca311;
}

.instrocoes .instru-box {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #fca311;
}

.instrocoes .instru-box .txt-instru-box h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.instrocoes .instru-box .txt-instru-box p {
    font-size: 18px;
}

.instrocoes .instru-box .img-instru-bom img {
    width: 60px;
}

/* estilos dos contatos */

section.contatos {
    padding: 80px 0;
}

.txt-contatos, .icons-contatos {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contatos .txt-contatos h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
}

.contatos .txt-contatos h1 span {
    font-weight: 800;
    color: #fca311;
}

.contatos .txt-contatos p {
    font-size: 20px;
}

.contatos .icons-contatos a {
    text-decoration: none;
}

.contatos .icons-contatos button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin: 0 auto 20px auto;
    width: 60%;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #000;
    transition: 0.5s;
}

.contatos .icons-contatos button:hover {
    background-color: #000;
    color: #fff;
}

.contatos .icons-contatos button i {
    font-size: 24px;
}

/* estilo das descrições */

section.descricao {
    height: 600px;
    background-image: url(img/luzes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: #fff;
    text-align: center;
}

.descricao > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000d7;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.descricao .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.descricao h1 {
    font-size: 50px;
}

.descricao h3 {
    font-size: 30px;
    font-weight: 500;
}

.descricao p {
    font-size: 18px;
}

.descricao .icons-descricao {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.descricao .icons-descricao p i {
    font-size: 40px;
    transition:  0.3s ease;
    cursor: pointer;
}

.descricao .icons-descricao p i:hover {
    color: #fca311;
}

/* estilo do footer */

footer {
    background-color: #000;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
}

footer .top-footer button:hover {
    background-color: #fff;
    color: #000;
}

footer .bottom-footer {
    border-top: 2px solid #fff;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

footer .bottom-footer p {
    color: #fff;
    margin-top: 10px;
}

/* animação lampada */

@keyframes piscar {
    0%  {opacity: 1; filter: brightness(1);}
    10% {opacity: 0.8; filter: brightness(0.8);}
    20% {opacity: 0.2; filter: brightness(0.4);}
    25% {opacity: 1; filter: brightness(1);}
    30% {opacity: 0.3; filter: brightness(0.6);}
    40% {opacity: 1; filter: brightness(1);}
    100% {opacity: 1; filter: brightness(1);}
}